.vscode/
.idea
/data/*
/docker/.env
/docker/logs/nginx/error.log
/docker/logs/nginx/symfony_error.log
/docker/logs/nginx/symfony_access.log
intellst-api/config/jwt/private.pem-back
intellst-api/config/jwt/private.pem