:root {
  //************* Main Color Variables *****************//
  --white: #fffffa;
  --grayLight: #515052;
  --black: #000103;
  --grayDark: #333138;
  --red: #ff312e;

  //****************** Gradients **************************//
  --redGradient: linear-gradient(
    90deg,
    rgba(14, 4, 2, 1) 0%,
    rgba(208, 25, 25, 1) 50%,
    rgba(201, 201, 201, 1) 100%
  );
}
